<form action="https://formspree.io/f/YOUR_FORM_ID" method="POST">

  <label>
    Gender:
    <input type = "text" name = "Gender" value = "F/M" maxlength = "3" />
         <br>
  </label>
  <label>
    Age:
    <input type="email" name="email">
  </label>
  <label>
    Hypertension:
    <input type="email" name="email">
  </label>
  <label>
    Heart Disease:
    <input type="email" name="email">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>

  <button type="submit">Calculate</button>
</form>
