<div>
    <form action="/" class="decor">
      <div class="form-left-decoration"></div>
      <div class="form-right-decoration"></div>
      <div class="circle"></div>
      <div class="form-inner">
        <h1>Calculate your risk of stroke</h1>
        <input type="text" placeholder="Age">
        <input type="text" placeholder="Hypertension (Y/N)">
        <input type="text" placeholder="Heart Disease (Y/N)">
        <input type="text" placeholder="Ever married (Y/N)">
        <input type="text" placeholder="Work Type (Private/Self-employed/Government/Other)">
        <input type="text" placeholder="Residence type (Urban/Rural)">
        <input type="text" placeholder="Average glucose level (55-271)">
        <input type="text" placeholder="BMI (10-87)">
        <input type="text" placeholder="Smoking (Formerly Smoked/Smokes/Never Smoked)">          
        <button type="submit" href="/">Calculate</button>
      </div>
    </form>
</div>
