<div>
    <form action="https://getform.io/f/fa159e4c-73ec-441d-b1a1-a814f9236da9" method = "POST" class="decor">
      <div class="form-left-decoration"></div>
      <div class="form-right-decoration"></div>
      <div class="circle"></div>
      <div class="form-inner">
        <h1>Calculate your risk of stroke</h1>
        <input type="text" name = "Age" placeholder="Age">
        <input type="text" name = "Hypertension" placeholder="Hypertension (Y/N)">
        <input type="text" name = "Heart Disease" placeholder="Heart Disease (Y/N)">
        <input type="text" name = "Ever Married" placeholder="Ever Married (Y/N)">
        <input type="text" name = "Work Type" placeholder="Work Type (Private/Self-employed/Government/Other)">
        <input type="text" name = "Residence Type" placeholder="Residence Type (Urban/Rural)">
        <input type="text" name = "Average glucose level" placeholder="Average glucose level (55-271)">
        <input type="text" name = "BMI" placeholder="BMI (10-87)">
        <input type="text" name = "Smoking" placeholder="Smoking (Formerly Smoked/Smokes/Never Smoked)">          
        <button type="submit" href="https://getform.io/f/fa159e4c-73ec-441d-b1a1-a814f9236da9">Calculate</button>
      </div>
    </form>
</div>
